*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
#navbar{
    width: 100%;
    height: 10vh;
    background-color: black;
    opacity: .9;
    align-items: center;
    border-bottom: 3px solid burlywood;
}
#navbar ul{
    text-decoration:none;
    display: flex;
    justify-content: space-around;
}
#navbar ul li button{
    color: white;
    text-decoration: none;
    border: none;
    background:none;
    font-size: 20px;
    letter-spacing: 2px;
}
#navbar ul button:hover{
    text-decoration: underline;
    text-decoration-color:burlywood;
    cursor: pointer;
}
#page-wrapper{
    position: relative;
}
#example1{
    height: 10vh;
    width: 10vh;
    border: 5px solid black;
}
#example2{
    height: 10vh;
    width: 10vh;
    border: 5px solid black;
}